*{
  font-family: "Mulish", serif;
  font-optical-sizing: auto;

}
header,main{
    margin-left: 70px;
    margin-right: 70px;
}

.orange{
    color: rgb(255, 84, 0);
}

/* navber design */
nav{
    display: flex;
    justify-content:space-between;
    margin: 20px;
    align-items: center;
}
.nav-div-1{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 20px;

}
.nav-div-2{
    display: flex;
    list-style: none;
    gap: 15px;
    align-items: center;
    
}
.menu-icon{
    display: none;
    height: 30px;
    width: 30px;
    
}

/* header-div-design */
.selection-div{
    background-image:url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.header-title{
    font-size: 50px;
    color: rgb(255, 255, 255);
    margin-top: 100px;
    margin-bottom: 0px;


}
.header-description{
    color: rgb(255, 255, 255);
    font-size: 16px;
    margin: 20px 200px;
}
.header-boxs{
    background-color: rgba(255, 255, 255, 0.3);
    margin: 20px 100px;
    height: 90px;
    width: 800px;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
}
.input-box{
    margin: 20px 0px;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    border: none;
    padding-left: 15px;
}
.find-btn{
    margin: 20px 0px;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    border: none;
    padding-left: 15px;
    color: aliceblue;
    background-color: rgb(255, 84, 0);
    
}











@media screen and (max-width: 576px) {
    nav{
        margin: 5px;
    }
    .nav-div-2{
        display: none;
    }
    .menu-icon{
        display: flex;
    }
    header,main{
        margin-left: 10px;
        margin-right: 10px;
    }
    .selection-div{
        border-radius: 15px;
    }
    .header-title{
        font-size: 36px;
        margin-top: 40px;
        margin-bottom: 0px;
    
    
    }
    .header-description{
        font-size: 12px;
        margin: 10px 10px;
    }
    .header-boxs{
        flex-direction: column;
        height: 300px;
        width: 300px;
        align-items: center;
    }
    .input-box,.find-btn{
        margin: 0px 0px;
        width: 250px;
    }

}